/* Header Section */
.header {
  background-image: url('../../assets/header.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 645px; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 10;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container input {
  width: 80%;
  padding: 8px 15px;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.search-container input:focus {
  border-color: #28a745;
}

.search-container button {
  margin-left: 10px;
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #218838;
}
.section {
  padding: 30px 0;
  background-color: #f9f9f9;
}

.section-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #333;
  transition: color 0.3s ease;
}

.section-header h2:hover {
  color: #28a745;
}

.home-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.product-img:hover {
  transform: scale(1.1); 
}

.product-details {
  text-align: center;
  transition: color 0.3s ease;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.product-title:hover {
  color: #28a745; 
}

.product-price {
  font-size: 1.2rem;
  color: #28a745;
  margin-bottom: 15px;
}

.add-to-cart-btn {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-btn:hover {
  background-color: #218838;
  transform: translateY(-3px); 
}

.add-to-cart-btn:active {
  transform: translateY(1px); 
}
           